.normal {
  color: var(--text);
}

.hint {
  color: var(--hint);
}

.paragraph {
  .price_span {
    font-size: 0.7em
  }
}

.title,
.paragraph {
  &.size_s {
    font: var(--font-s);
  }

  &.size_m {
    font: var(--font-m);
  }

  &.size_l {
    font: var(--font-l);
  }

  &.size_xl {
    font: var(--font-xl);
  }

    &.bold {
    font-weight: 700;
  }
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}